name: Terraform CI/CD

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      # 2. Set up Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.10.1

      # 3. Initialize Terraform (Backend Authentication)
      - name: Initialize Terraform
        run: terraform init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.aws_access_key_id }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.aws_secret_access_key }}
          AWS_DEFAULT_REGION: "eu-west-1" 

      - name: Terraform Plan
        run: terraform plan -out=tfplan -var="aws_access_key_id=${{ secrets.aws_access_key_id }}" -var="aws_secret_access_key=${{ secrets.aws_secret_access_key }}"

      - name: Terraform Apply
        run: terraform apply -var="aws_access_key_id=${{ secrets.aws_access_key_id }}" -var="aws_secret_access_key=${{ secrets.aws_secret_access_key }}" -auto-approve tfplan
